In [1]:
import pandas as pd
import chardet

In [2]:
file_path = "../data/sales_data_sample.csv"

with open(file_path, "rb") as f:
    result = chardet.detect(f.read(100000))
    print(result)


df = pd.read_csv(file_path , encoding='Windows-1252')
df.head()
df.columns
# df.isnull().sum()
# (df.isnull().sum() / len(df)) * 100

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [3]:
df['ADDRESSLINE2'].fillna(' ' , inplace=True)
df['STATE'].fillna('unknown', inplace=True)
df['TERRITORY'].fillna('not assigned', inplace=True)
df['POSTALCODE'].fillna('unknown', inplace=True)

# df.isnull().sum()

C:\Users\Sourav Mishra\AppData\Local\Temp\ipykernel_20084\3030919717.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ADDRESSLINE2'].fillna(' ' , inplace=True)
C:\Users\Sourav Mishra\AppData\Local\Temp\ipykernel_20084\3030919717.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['STATE'].fillna('unknown', inplace=True)
C:\Users\Sourav Mishra\AppData\Local\Temp\ipykernel_20084\3030919717.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TERRITORY'].fillna('not assigned', inplace=True)
C:\Users\Sourav Mishra\AppData\Local\Temp\ipykernel_20084\3030919717.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['POSTALCODE'].fillna('unknown', inplace=True)

In [4]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])
df['REVENUE'] = df['QUANTITYORDERED'] * df['PRICEEACH']

df.rename(columns={
    "QTR_ID" : "QUARTER",
    "MONTH_ID" : "MONTH" , 
    "YEAR_ID" : "YEAR"
} , inplace=True)

df = df[df['STATUS'].isin(['Shipped','Resolved','Cancelled','On Hold'])]

df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QUARTER,MONTH,YEAR,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,REVENUE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,...,,NYC,NY,10022,USA,not assigned,Yu,Kwai,Small,2871.00
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,...,,Reims,unknown,51100,France,EMEA,Henriot,Paul,Small,2765.90
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,...,,Paris,unknown,75508,France,EMEA,Da Cunha,Daniel,Medium,3884.34
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,...,,Pasadena,CA,90003,USA,not assigned,Young,Julie,Medium,3746.70
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,...,,San Francisco,CA,unknown,USA,not assigned,Brown,Julie,Medium,4900.00

In [5]:
df.to_csv("clean_sales_data.csv",index=False)
print("data saved successfully")
df.to_excel("clean_data.xlsx" , index=False)

data saved successfully